/*html {
	min-height: 100%;
}

colors:
red- #840032
black- #08090a
white- #f4f7f5
yellow- #e59500
blue? - #c5d1eb
*/
body{
	margin-bottom: -50px;
	background-color: #002642;
}

body, header, h1, h2, p{
	border: 0;
	margin: 0;
	padding: 0;
}

header { 
	background: linear-gradient(to top, #840032, #08090a);
	height: 200px;
	text-align: center
}

h1 {
	font-family: Monospace, sans-serif;
	padding-top: 100px;
	color: #c5d1eb;
	margin-bottom: 30px;
}

h2{
	font-family: Monospace, sans-serif;
	padding: 10px;
	margin: 5px;
	color: #840032;
}

nav li {
	display: inline-block;
	margin: 0 15px;
}

nav li a{
	color: #e59500;
	text-decoration: none;
	font-size: 18px;
}

nav li a:hover{
	color: white;
}

main {
	min-height: 1000px;
	background-color: #c5d1eb;
}

section {
	background-color: #f4f7f5;
	border: 5px solid #c5d1eb;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 40px 0;
}

#about-me p{
	width: 500px;
	text-align: left;
	margin: 0 auto;
}

.thumbnail{
	height: 120px;
	width: 200px;
	display: inline-block;
	margin: 30px;
}

#aethelflaed-tribute{
	background-image: URL("../images/aethelflaed-tribute.png");
	background-size: 200px 120px;

}

#local-weather{
	background-image: URL("../images/local-weather.png");
	background-size:200px 120px;

}

#design-quotes{
	background-image: URL("../images/design-quotes.png");
	background-size: 200px 120px;

}

#wikipedia{
	background-image: URL("../images/wikipedia-search-box.png");
	background-size: 200px 120px;

}

#sketchpad{
	background-image: URL("../images/sketchpad.png");
	background-size: 200px 120px;

}

#sample{
	background-image: URL("../images/plymouthRooftops.jpg");
	background-size: 200px 120px;

}

.thumbnail:hover{
	transform: scale(1.2);
}

.logo{
	height: 200px;
	margin: 10px;
	opacity: 0.7;
}

#insta-logo, #wordpress-logo{
	box-sizing: padding-box;
	padding: 25px;
}

.logo:hover{
	opacity: 1;
}

footer {
	background: linear-gradient(to bottom, #840032, #08090a);

	height: 50px;
	position: relative;
}
